{
  "datacenter": "{{ aws_region }}",
  "data_dir": "{{ consul_data_dir }}",
  "log_level": "INFO",
  "retry_join": ["provider=aws tag_key=role tag_value=consul_server region={{ aws_region }}"],
  "ui": true,
  "encrypt": "{{ consul_encryption_key }}",
  "enable_script_checks": true,
  "enable_syslog": true
}